{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- todo list start -->
<div class="container-sm-12">
    <div class="header-sm-12">
    <p class="header-sm-6">Your awosome todo list</p>
    <p class="datetime-sm-6">Date : {{date}}</p>
</div>
<div class="input-sm12">
    <form action="" method = "post" novalidate>
      {% csrf_token %}
      {% if messages %}
      {% for mess in messages%}
      <p style = "color:red; font-style:italic; font-size:12px; width:20%; margin-left:60px;">{{mess}}</p>
      {% endfor %}
      {% endif %}
        <input type="text" name="todo" placeholder="what do you want to do today?">
        <button type="submit">Add</button>
    </form>
</div>

<!-- todo display list start from here  -->
{% if todos %}
{% for todo in todos %}
<div class="todo-display-sm-12">
    <div class="todo-list">
        <div class="list-sm-8">
        <p class="serial-number" style="margin-left: 0px; width: 5px; margin-right: 7px; font-family: 'Lato', sans-serif;">{{todo.id}} </p>
        <input type="checkbox" name="complete" style = "margin-left:10px">
        <p class = "my-todo-12">{{todo.title}}</p>
        </div>
        
        <div class="edit-delete-sm3" style = "margin'right:50px;">
            <button type="button" class="btn btn-info"><a href="{% url 'list:update' todo.pk %}" style="text-decoration: none; color: white;">Edit</a></button>
            <!-- if completed is True:
           .list-sm-8 p{
            font-size: 15px;
            margin-left: 20px;
            font-family: 'Roboto', sans-serif;
            text-decoration:line-through;
        } -->
            <button type="button" class="btn btn-danger"><a href="{% url 'list:delete' todo.pk %}" style="text-decoration: none; color:white;">Delete</a></button>
        </div>
        
    </div>
    <hr>
</div>
{% endfor %}
{% else %}
<div class="list-sm-8">
  <p style = "margin-left:200px;">Your todo list is empty add some</p>
  </div>
  {% endif %}
<!-- todo display list end  -->
</div>
    <!-- todo list end -->

    {% endblock %}


